In [1]:
import pandas as pd

# Placeholder for the relative path to your CSV file
relative_path = 'datasetsalary2024_modified.csv'

# Reading the CSV file into a DataFrame
df = pd.read_csv(relative_path)

# Displaying the first few rows of the DataFrame
print(df.head())

   work_year experience_level employment_type                  job_title  \
0       2024               SE              FT                AI Engineer
1       2024               SE              FT                AI Engineer
2       2024               SE              FT              Data Engineer
3       2024               SE              FT              Data Engineer
4       2024               SE              FT  Machine Learning Engineer

   salary salary_currency  salary_in_usd employee_residence  remote_ratio  \
0  202730             USD         202730                 US             0
1   92118             USD          92118                 US             0
2  130500             USD         130500                 US             0
3   96000             USD          96000                 US             0
4  190000             USD         190000                 US             0

  company_location company_size  employee_company_location_match  \
0               US            M                                1
1               US            M                                1
2               US            M                                1
3               US            M                                1
4               US            M                                1

                    job_function        job_seniority
0                AI Related Jobs  Engineer or Analyst
1                AI Related Jobs  Engineer or Analyst
2              Data Related Jobs  Engineer or Analyst
3              Data Related Jobs  Engineer or Analyst
4  Machine Learning Related Jobs  Engineer or Analyst

In [7]:
percnetile_99 = df.salary_in_usd.quantile(.99, interpolation="linear")
percnetile_99

337300.0

In [8]:
df_no_outlier = df[df.salary_in_usd < percnetile_99]
# df_no_outlier.decribe()
df_no_outlier.salary_in_usd.describe()

count     16366.000000
mean     146744.594464
std       61086.134713
min       15000.000000
25%      100000.000000
50%      140000.000000
75%      185000.000000
max      336400.000000
Name: salary_in_usd, dtype: float64

In [4]:
df_no_outlier

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size,employee_company_location_match,job_function,job_seniority
0,2024,SE,FT,AI Engineer,202730,USD,202730,US,0,US,M,1,AI Related Jobs,Engineer or Analyst
1,2024,SE,FT,AI Engineer,92118,USD,92118,US,0,US,M,1,AI Related Jobs,Engineer or Analyst
2,2024,SE,FT,Data Engineer,130500,USD,130500,US,0,US,M,1,Data Related Jobs,Engineer or Analyst
3,2024,SE,FT,Data Engineer,96000,USD,96000,US,0,US,M,1,Data Related Jobs,Engineer or Analyst
4,2024,SE,FT,Machine Learning Engineer,190000,USD,190000,US,0,US,M,1,Machine Learning Related Jobs,Engineer or Analyst
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16528,2021,SE,FT,Data Specialist,165000,USD,165000,US,100,US,L,1,Data Related Jobs,Other Seniority
16530,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L,1,Data Related Jobs,Other Seniority
16531,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S,1,Data Related Jobs,Other Seniority
16532,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L,1,Data Related Jobs,Engineer or Analyst
16533,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L,1,Data Related Jobs,Manager